@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap');
*{
    
    box-sizing: border-box;    
    text-decoration: none;    
    transition: all .2s linear;
    

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth;
}






.header-1{
    background: rgb(168, 167, 167);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header-2 .search-box-container #search-box
{
    height: 50px;
    width: 70%;
    padding: 1rem;
    font-size: 2rem;
    color: #333;
    border: 1rem solid rgba(0,0,0,.3);
    text-transform: none;

}

.header-2 .search-box-container label{
    height: 40px;
    width: 50px;
    font-size: 2rem;
    line-height: 4rem;
    color: #fff;
    background:#27ae60;
    text-align: center;
    cursor: pointer;
}
.header-2 .search-box-container label:hover
{
    background:#000000;

}


.header-2{
    background: rgb(190, 190, 190);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0, 1);
    position: relative;
}


.header-2 .navbar a{
    padding:12px;
    font-size:18px;
    font-weight: 700;
    border-radius: .5rem;
    color:#000000;
	font-family:sans-serif;
}
.header-2 .navbar a:hover
{
    background:rgb(70, 78, 0);
    color:#fff;
}


#right {
  text-align:right;
  cellpading:50%;
}

#second td{
  height:25px ;
  width:35%;
  padding:18px;
  font-size:16px;
  font-weight:700
}

#secondT td{
  height:5px ;
  width:20%;
  padding:5px;
  font-size:16px;
}

#third {
 height:25px ;
  width:35%;
  }
  
body{
    height: 50rem;
}

 .footer{
    background-color: #000000;
    padding: 70px 0;;
}
.container-1{
    max-width: 1170px;
    background-color: rgb(0, 0, 0);
    margin:auto;
}
ul{
    list-style: none;

}
.row{
    display: flex;
    flex-wrap: wrap;

}
.footer-col{
    width: 25%;
    padding: 0 15px;
    
}
.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-family: sans-serif;
    font-weight: 700;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: yellow;
    padding-left: 10px;
}